@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inter:wght@200;400&display=swap");

* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-bege: #e7ddbb;
  --color-verde-claro: #2f7443;
  --color-azul-claro: #83add7;
  --color-azul-escuro: #0a2463;
  --color-azul-marinho: #8ed5e2;
  --back-off-padding: 0 2em;
  --back-off-invert-padding: 0 -2em;
  --btn-radius: 5rem;
  --btn-bgcolor: var(--color-azul-marinho);
  --btn-color: var(--color-azul-escuro);
  --btn-display: flex;
  --btn-justContent: center;
  --btn-aligItems: center;
  --btn-padding: 1rem 2rem;
  --btn-hover-carrosel: var(--color-verde-claro);
  --btn-hover: var(--color-azul-claro);
  --a-text-decoration: none;
  --a-color: inherit;
  --container-total: 2250px;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  font-size: 1.6rem;
  font-family: Inter;
}

.main {
  width: 90%;
  padding: var(--back-off-padding);
  margin: 0 auto;
}

h1 {
  font-size: 2em;
}

.header {
  width: 100%;
  height: 7rem;
  background-color: var(--color-verde-claro);
}

p {
  line-height: 2em;
  text-align: justify;
}

.no_visual__a {
  text-decoration: none;
  color: inherit;
}

.header__container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--back-off-padding);
  color: white;
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.header__logo {
  max-width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo img {
  height: 100%;
  width: 100%;
}

.header__nav ul,
.footer__nav ul {
  display: flex;
  justify-content: space-between;
  max-width: 40rem;
  gap: 2rem;
  list-style: none;
  flex-wrap: nowrap;
}

.header-nav__link a,
.footer-nav__link a {
  text-decoration: none;
  color: inherit;
}

.header-nav__link a:hover,
.footer-nav__link a:hover {
  text-decoration: underline;
}

.main__container {
  max-width: var(--container-total);
  width: auto;
  background-color: var(--color-bege);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10rem;
  padding: 10rem 5rem;
  height: 100%;
}

.main__categoria {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows:  repeat(2, 1fr) ;
  grid-template-areas: 
  "cat1 cat2"
  "cat3 cat3";
  gap: 2rem;
  width: 100%;
}

.cat1,
.cat2,
.cat3 {
  display: flex;
  justify-content: center;
}

.cat1 {
  grid-area: cat1;
}

.cat2 {
  grid-area: cat2;
}

.cat3 {
  grid-area: cat3;
  align-items: center;
}

.carrosel {
  overflow: hidden;
  height: 100vh;
  max-width: var(--container-total);
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.carrosel__container {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
  transform: translateX(0);
}

.carrosel__image {
  width: 100%;
  height: 100%;
}

.carrosel__image img {
  object-fit: cover;
  height: 100%;
}

.carrosel__sobre {
  position: absolute;
  left: 3em;
  bottom: 5em;
  width: 20em;
  font: 1.5em Fredoka One;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: inherit;
}

.carrosel-sobre__btn {
  border-radius: var(--btn-radius);
  background-color: var(--btn-bgcolor);
}

.carrosel-sobre__btn {
  width: fit-content;
  display: var(--btn-display);
  justify-content: var(--btn-justContent);
  align-items: var(--btn-aligItems);
  padding: var(--btn-padding);
  color: var(--btn-color);
  font: inherit;
}

.carrosel-sobre__btn:hover {
  color: black;
  background-color: var(--btn-hover);
}

.carrosel-sobre__btn a {
  text-decoration: none;
  color: inherit;
}

.optioncarrosel {
  display: flex;
  justify-content: space-between;
  width: 6rem;
  position: absolute;
  bottom: 8rem;
  right: 50%;
  transform: translateX(3rem);
}

.options {
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background-color: var(--color-azul-claro);
}

.optioncurrent {
  background-color: var(--color-azul-escuro);
}

.main__banner {
  max-width: 80rem;
  min-width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.main-banner__img {
  width: 100%;
  margin: 0 auto;
}

.main-banner__img > img {
  width: 100%;
}

.main-estrutura__title,
.main-areas__title,
.main-endereco__title,
.main-telefones__title {
  text-transform: capitalize;
}

.main__telefones > ul {
  list-style-type: none;
}

.maintitle {
  text-align: center;
  font-size: 2em;
  text-transform: capitalize;
}

.main-sobre__historia,
.main-sobre__estrutura,
.main-sobre__areas {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.main-sobre__images {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.main-sobre__images img {
  max-width: 70rem;
  min-width: 20rem;
  width: auto;
}

.main-areas__img {
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-areas__img img {
  max-width: 70rem;
  min-width: 20rem;
  width: auto;
}

.main-banner__btn {
  border-radius: var(--btn-radius);
  background-color: var(--btn-bgcolor);
  font-weight: bold;
  color: var(--btn-color);
}

.main-banner__btn > a {
  padding: var(--btn-padding);
  color: var(--btn-color);
  display: var(--btn-display);
  justify-content: var(--btn-justContent);
  align-items: var(--btn-aligItems);
  text-decoration: var(--a-text-decoration);
  text-transform: capitalize;
}

.main-banner__btn:hover {
  background-color: var(--btn-hover);
}

.main-categoria__animais img {
  width: 100%;
}

.main-categoria__animais {
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 2rem;
  transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.main-categoria__animais:hover {
  transform: scale(1.1);
}

.main-categoria__title {
  text-transform: capitalize;
}

.main__endereco,
.main__telefones {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.footer {
  width: 100%;
  background-color: var(--color-verde-claro);
  height: 20rem;
}

.footer__container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "logo nav icones"
    "copyright  copyright copyright";
  gap: 6rem 7rem;
  justify-content: stretch;
  align-content: center;
  padding: var(--back-off-padding);
  color: white;
  height: 100%;
}

.footer__logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
}

.footer__logo img {
  max-width: 28rem;
  min-width: 10rem;
}

.footer__nav {
  grid-area: nav;
  justify-self: center;
}

.footer__icones {
  display: flex;
  justify-content: center;
  gap: 2rem;
  grid-area: icones;
}

.icones a {
  text-decoration: var(--a-text-decoration);
  color: var(--a-color);
}

.icones a:hover {
  text-decoration: var(--a-text-decoration);
  color: var(--color-azul-claro);
}

.copyright {
  grid-area: copyright;
  font-size: 1em;
  display: flex;
  justify-content: center;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 50rem;
  width: 100%;
}

.main-animal__tipo {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
}

.main-animal__img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-animal__img img {
  max-width: 40rem;
}

.main-animal__title {
  margin: 0 0 2.5rem 0;
}

.menu-toggle img {
  width: 3rem;
  height: 3rem;
}

.menu-toggle {
  display: none;
}

@keyframes menuative {
  from {
    right: -100vh;
  }
  to {
    right: 0;
  }
}

@media screen and (max-width: 1440px) {
  .main {
    padding: 0;
    width: 100%;
  }
  .header__container {
    width: 100%;
  }
}

@media screen and (max-width: 1090px) {
  .footer {
    height: auto;
  }

  .footer__container {
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "logo"
      "nav"
      "icones"
      "copyright";
    gap: 2rem;
    padding-top: 2rem;
    width: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 1000px) {
  .main__categoria {
    grid-template-columns: 1fr;
    grid-template-areas: 
    "cat1"
    "cat2"
    "cat3";
  }

  .main-animal__img img {
    max-width: 100%;
  }

  .carrosel {
    height: 91vh;
  }

  .optioncarrosel {
    display: none;
  }

  .carrosel__sobre {
    font-size: 1em;
  }

  .carrosel {
    height: 50vh;
  }

  .main-animal__tipo {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 800px) {
  .main__banner h1 {
    text-align: center;
  }

  .menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu-mobile .header__nav {
    display: none;
  }

  .menu-mobile.on .header__nav {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-verde-claro);
    position: absolute;
    z-index: 2;
    top: 0;
  }

  .menu-mobile.off .header__nav ul,
  .menu-mobile.on .header__nav ul {
    font-size: 2em;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .menu-mobile.off .header__nav {
    right: -100vw;
  }

  .menu-mobile.on .header__nav {
    right: 0;
    animation: menuative 1s;
    animation-timing-function: ease-in;
  }

  .menu-mobile.on .menu-toggle {
    position: relative;
    z-index: 3;
  }

  .carrosel__sobre {
    width: 50%;
    /* font-size: 1em; */
  }

  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 500px) {
  .header__nav ul,
  .footer__nav ul {
    flex-direction: column;
    align-items: center;
  }

  .carrosel__sobre {
    display: none;
  }
}
